<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="day04_mybatis.mapper.OrdersExt2Mapper">

    <resultMap id="orderAndOrderdetailResMap" type="day04_mybatis.domain.ext.OrdersExt2">
        <id column="orders_id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>

        <collection property="orderdetails" ofType="day04_mybatis.domain.Orderdetail">
            <id column="id" property="id"/>
            <result column="orders_id" property="ordersId"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
        </collection>
    </resultMap>

    <select id="findOrdersExt" parameterType="day04_mybatis.domain.ext.OrdersExt2" resultMap="orderAndOrderdetailResMap">
        SELECT
        o.user_id,
        o.number,
        o.createtime,
        o.note,
        od.id, od.orders_id, od.items_id, od.items_num
        from orders o,orderdetail od
        where o.id = od.orders_id
        <if test="id != null">
            and o.id = #{id}
        </if>
    </select>
</mapper>