<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="day04_mybatis.mapper.OrdersExt2Mapper">

    <resultMap id="ordersAndUserRstMap" type="day04_mybatis.domain.ext.OrdersExt2">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="note" property="note"/>

        <association property="user" javaType="day04_mybatis.domain.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>

    <select id="findOrdersExt" parameterType="day04_mybatis.domain.ext.OrdersExt2" resultMap="ordersAndUserRstMap">
        SELECT o.id,
        o.user_id,
        o.number,
        o.createtime,
        o.note,
        u.username, u.address
        from orders o,user u
        where o.user_id = u.id
        <if test="id != null">
            and o.id = #{id}
        </if>
    </select>
    

    
</mapper>