<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jqh.mapper.OrdersMapper">
    <select id="findOrdersExts" resultType="com.jqh.pojo.OrdersExt" parameterType="com.jqh.pojo.OrdersExt">
     select * from orders o,orderdetail od,items i,user u
     <where>
         o.user_id=u.id and o.id=od.orders_id and od.items_id=i.id
         <if test="number!=null">
             and o.number=#{number}
         </if>
        <if test="name!=null">
            and i.name=#{name}
        </if>
<!--        <if test="createtimeStart!=null">-->
<!--             and o.createtime &lt; #{createtimeStart}-->
<!--         </if>-->
<!--         <if test="createtimeEnd!=null">-->
<!--             and o.createtime &gt; #{createtimeEnd}-->
<!--         </if>-->
<!--         <if test="priceStart!=null">-->
<!--             and i.price &lt; #{priceStart}-->
<!--         </if>-->
<!--         <if test="priceEnd!=null">-->
<!--             and i.price &gt; #{priceEnd}-->
<!--         </if>-->
     </where>

    </select>

    <resultMap id="extMap" type="com.jqh.pojo.OrdersExt">
        <id property="id" column="id"></id>
        <association property="user" column="user_id" select="findUserById">
        </association>

    </resultMap>
    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.jqh.pojo.User">
SELECT * from user where id=#{id}
</select>
</mapper>