<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.osai.dao.OrderDao">
    <select id="findOrderExtById" parameterType="Long" resultType="OrderExt">
        select o.id,o.user_id,o.number,o.createtime,o.note,u.username,u.address from orders o,user u where o.id =#{id};

    </select>


</mapper>