<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ll.mybatis.mapper.OrdersMapper">

    <!--  一对一映射之resulutType  -->
    <select id="findOrdersAndUser" resultType="com.ll.mybatis.po.OrderExt">
        select orders.id
                ,orders.user_id
                ,orders.number
                ,user.username
                ,user.sex
        from
	        orders,user
        where
            orders.user_id = user.id
    </select>



</mapper>