<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans ">

    <!--动态的将依赖对象注入bean
         在a.testIOC.HelloSpring中加入DiSpring diSpring1-->
    <bean id="helloSpring" class="com.ceh.spring.a_ioc.HelloSpring">
        <property name="diSpring1" ref="diSpring"/>
    </bean>
    <bean id="diSpring" class="com.ceh.spring.b_di.DiSpring"/>
</beans>