<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="e_inject.constructor.Person">
        <constructor-arg name="name" value="dragon"/>
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="address" value="A3W202"/>
    </bean>
</beans>