<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="zbh.spring"/>
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druidDataSource"/>
    </bean>
    <bean id="txmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="druidDataSource"/>
    </bean>
    <bean id="txtemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="txmanager"/>
    </bean>
    <!--@transaction注解方式-->
    <!--开启事务控制的注解支持，配置 Annotation 驱动，扫描@Transactional注解的类定义事务-->
    <!--
    <tx:annotation-driven proxy-target-class="true" transaction-manager="txmanager"/>
    -->


    <!--Aop方式,不需要@transaction-->
   <tx:advice transaction-manager="txmanager" id="txadvice">
       <tx:attributes>
           <tx:method name="transfer" isolation="DEFAULT" propagation="REQUIRED"/>
       </tx:attributes>
   </tx:advice>
    <aop:config>
        <aop:advisor advice-ref="txadvice" pointcut="execution(* zbh.spring.*.*(..))"/>
    </aop:config>
    <!--勿漏-->
    <aop:aspectj-autoproxy  proxy-target-class="true"/>
</beans>