<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启包扫描 -->
    <context:component-scan base-package="com.frank.spring.demo04"></context:component-scan>

    <bean id="helloSpring" class="com.frank.spring.demo01.HelloSpring" init-method="init" destroy-method="destroy"></bean>
    <bean id="MyBeanPostProcessor" class="com.frank.spring.demo01.MyBeanPostProcessor"></bean>

    <!--属性注入:使用构造方法-->
    <!--<bean id="person" class="com.frank.spring.demo02.Person">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="address" value="安信工"/>
    </bean> -->
    <bean  id="person" class="com.frank.spring.demo02.Person">
        <property name="name" value="李四"/>
        <property name="age" value="24"/>
        <property name="address" value="湖北武汉"/>
    </bean>
    <bean id="collectionBean" class="com.frank.spring.demo03.CollectionBean">
        <property name="array">
            <list>
                <value>老王</value>
                <value>老李</value>
                <value>老张</value>
            </list>
        </property>
        <property name="list">
            <list>
                <value>张三</value>
                <value>李四</value>
                <value>王五</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>广州</value>
                <value>福建</value>
                <value>南京</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="篮球" value="姚明"/>
                <entry key="足球" value="梅西"/>
            </map>
        </property>
    </bean>
</beans>