<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrdersMapper">
    <select id="findOrdersExt" parameterType="ordersExt" resultMap="OrdersExtRstMap">
        SELECT
        o.number,
        o.createtime,
        o.user_id,
        i.name,
        i.price,
        round(sum(i.price),2) total_amount
        FROM
        orders o,
        orderdetail od,
        items i
        WHERE
        o.id = od.orders_Id AND od.items_id = i.id
        <if test="number != null and number != ''">
        and o.number = #{number}
        </if>
        <if test="createtimeStart != null and createtimeEnd != null">
            and o.createtime between #{createtimeStart} and #{createtimeEnd}
        </if>
        <if test="name != null and name != ''">
            and  i.name = #{name}
        </if>
        <if test="priceStart != null and priceEnd != null">
            and  i.price between #{priceStart} and #{priceEnd}
        </if>
        group by i.id
    </select>

    <select id="findUserId" parameterType="java.lang.Integer" resultType="user">
        select * from user where id = #{id}
    </select>
    <resultMap id="OrdersExtRstMap" type="ordersExt">
        <id column="id" property="id"></id>
        <result column="number" property="number"></result>
        <result column="createtime" property="createtime"></result>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="total_amount" property="totalAmount"></result>
        <association property="user" column="user_id" select="findUserId">
            <result column="username" property="username"></result>
            <result column="address" property="address"></result>
        </association>
    </resultMap>

</mapper>