<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.ItemsMapper">
    <resultMap id="items_orderdetails" type="UserOrderItemDetail">
        <association property="user" javaType="user">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </association>
        <association property="orders" javaType="orders">
            <id column="order_id" property="id"/>
            <result column="user_id" property="user_id"/>
            <result column="number" property="number"/>
            <result column="createtime" property="createtime"/>
            <result column="note" property="note"/>
        </association>
        <association property="detail" javaType="orderdetail">
            <id column="add_id" property="id"/>
            <result column="order_id" property="orders_id"/>
            <result column="items_id" property="items_id"/>
            <result column="items_num" property="items_num"/>
        </association>
        <association property="items" javaType="items">
            <id column="item_id" property="id"/>
            <result column="name" property="name"/>
            <result column="price" property="price"/>
            <result column="detail" property="detail"/>
            <result column="it_createtime" property="createtime"/>
            <result column="pic" property="pic"/>
        </association>
    </resultMap>
    <select id="selectAllMeaage" resultMap="items_orderdetails">
        SELECT
            us.id AS user_id,
            us.username,
            us.sex,
            us.birthday,
            us.address,
            od.id AS order_id,
            od.createtime,
            od.number,
            od.note,
            odd.id AS odd_id,
            odd.items_num,
	        it.id AS items_id,
            it.price,
            it.pic,
            it.`name`,
            it.detail,
            it.createtime AS it_createtime
        FROM
            `user` us
            JOIN orders od ON us.id = od.user_id
            JOIN orderdetail odd ON od.id = odd.orders_id
            JOIN items it ON odd.items_id = it.id;
    </select>

</mapper>