<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hand.ms.mapper.UserMapper">
    <!--根据用户ID精确查询用户-->
    <select id="findUserById" parameterType="int" resultType="com.hand.ms.po.User">
     select  * from User where id =#{id}
    </select>

    <!--添加用户-->
    <insert id="insertUser" parameterType="com.hand.ms.po.User">
        <!--查询主键-->
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into user(username,birthday,sex,address)
        values (#{username},#{birthday},#{sex},#{address})
    </insert>

    <!--定义SQL片段-->
    <sql id="whereClause">
        <if test="user!=null">
            <if test="user.username!=null and user.username!=''">
                and username like '%${user.username}%'
            </if>
            <if test="user.sex!=null and user.sex!=''">
                and sex = #{user.sex}
            </if>
        </if>

    </sql>

    <!--综合查询用户信息-->
    <select id="findUserList" parameterType="com.hand.mybatis.po.UserQueryVO">
         select * from user
         <where>
             <include refid="whereClause"/>
         </where>
     </select>

    <!--综合查询用户总数-->
    <select id="findUserList" parameterType="com.hand.mybatis.po.UserQueryVO" resultType="int">
         select count(*) from user where username like '%${user.username}%' and sex = #{user.sex}
     </select>

    <!--resultmap-->
    <resultMap id="UserRstMap" type="user">
        <id column="id_" property="id"></id>
        <result column="username_" property="username"></result>
        <result column="sex_" property="sex"></result>
    </resultMap>
    <select id="findUserRstMap" parameterType="int" resultType="UsrRstMap">
         select id id_, username username_,sex sex_ from user where id = #{id}
     </select>

</mapper>