<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--组件扫描，扫描含有注解的类-->
    <context:component-scan base-package="com.yts"/>

    <bean id="helloSpring" class="com.yts.HelloString"/>

    <bean id="person" class="com.yts.Person">
        <constructor-arg name="name" value="ceh"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg name="address" value="芜湖"/>
    </bean>
<!--    <bean id="person" class="com.yts.Person">
        <property name="name" value="ceh"/>
        <property name="age" value="18"/>
        <property name="address" value="芜湖"/>
    </bean>-->

    <bean id="collection" class="com.yts.CollectionBean">
        <property name="array">
            <list>
                <value>老王</value>
                <value>老李</value>
                <value>老陈</value>
            </list>
        </property>
        <property name="list">
            <list>
                <value>第一排</value>
                <value>第二排</value>
                <value>第三排</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>北京</value>
                <value>上海</value>
                <value>广州</value>
                <value>深圳</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="篮球" value="kebi"/>
                <entry key="足球" value="yuewei"/>
            </map>
        </property>
    </bean>
</beans>