<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hph.dao.OrderMapper">

    <resultMap id="queryCust" type="OrderExt">
        <result column="username" property="username"></result>
        <result column="address" property="address"></result>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="createtime" property="createtime"></result>
        <result column="total_amount" property="totalAmount"></result>
    </resultMap>
    
    <select id="findOrderExt" parameterType="OrderExt" resultMap="queryCust">
        select u.username,u.address,o.number,i.name,i.price,o.createtime,x.total_amount
from user u,items i,orderdetail d,orders o,(select sum(zongjia) as total_amount,orders_id from
    (select d.orders_id,i.price*d.items_num AS zongjia from items i,orderdetail d where i.id=d.items_id )a GROUP BY a.orders_id)x
where u.id=o.user_id and o.id=d.orders_id and i.id=d.items_id and x.orders_id=o.id
        <if test="username != null">
            and u.username=#{username}
        </if>
        <if test="name != null">
            and i.name=#{name}
        </if>
        <if test="createtimeStart != null">
            and o.createtime >= #{createtimeStart}
        </if>
        <if test="createtimeEnd != null">
            and o.createtime &lt;= #{createtimeEnd}
        </if>
        <if test="priceStart != null">
            and i.price >= #{createtimeEnd}
        </if>
        <if test="priceEnd != null">
            and i.price &lt;= #{priceEnd}
        </if>
    </select>





</mapper>
