<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.eureka_producer_user.mapper.UserMapper" >

    <select id="selectUserByName" parameterType="User" resultType="User">
        SELECT *
        FROM user u
        <where>
            <if test='username != null || username != " "'>
                AND u.username LIKE CONCAT(CONCAT("%", #{username}), "%")
            </if>
        </where>
    </select>

    <select id="selectUserById" parameterType="User" resultType="User">
        SELECT *
        FROM user u
        <where>
            <if test='id != null || id != " "'>
                AND u.id = #{id}
            </if>
        </where>
    </select>

    <insert id="createUser" parameterType="User">
        INSERT INTO
        user
        (username, birthday, sex, address)
        VALUES
        (#{username}, #{birthday}, #{sex}, #{address})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user u
        SET
        u.username = #{username},
        u.birthday = #{birthday},
        u.sex = #{sex},
        u.address = #{address}
        WHERE
        u.id = #{id}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>