<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatisdemo.mapper.OrdersMapper">

	<!-- OrdersAndUserRstMap -->
	<resultMap type="mybatisdemo.po.OrdersExt" id="OrdersAndUserRstMap">
		<!-- 订单信息 -->
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="number" property="number" />

		<!-- 用户信息（一对一） -->
		<!-- association：一对一关联映射 -->
		<!-- property：关联信息查询的结果将要映射的扩展类中的对象属性名称 -->
		<!-- id标签：建议在关联查询时必须写上，不写不会报错，但是会影响性能 -->
		<association property="user" javaType="mybatisdemo.po.User">
			<id column="user_id" property="id" />
			<result column="username" property="username" />
			<result column="sex" property="sex" />
		</association>
	</resultMap>

	<!-- OrdersAndDetailRstMap -->
	<!-- extends：可以继承一个已有的resultMap，指定resultMap的唯一标示即可 -->
	<!-- 注意：继承时，只能继承type类型是一样的resultMap -->
	<resultMap type="mybatisdemo.po.OrdersExt" id="OrdersAndDetailRstMap"
			   extends="OrdersAndUserRstMap">
		<!-- 订单明细信息（一对多） -->
		<!-- collection：映射一对多关系 -->
		<collection property="detailList" ofType="mybatisdemo.po.Orderdetail">
			<id column="detailId" property="id" />
			<result column="items_id" property="itemsId" />
			<result column="items_num" property="itemsNum" />
		</collection>

	</resultMap>

	<!-- 一对多映射 -->
	<select id="findOrdersAndDetailRstMap" resultMap="OrdersAndDetailRstMap">
		SELECT
		orders.`id`,
		orders.`user_id`,
		orders.`number`,
		user.`username`,
		user.`sex`,
		orderdetail.`id` detailId,
		orderdetail.`items_id`,
		orderdetail.`items_num`
		FROM
		orders,
		USER,
		orderdetail
		WHERE
		orders.`user_id` = user.`id`
		AND orders.`id` = orderdetail.`orders_id`
	</select>

</mapper>

