<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloSpring" class="xmlConfig.HelloSpring" init-method="initBean" destroy-method="destoryBean">
        <property name="diSpring"  ref="diSpring"></property>
    </bean>
    <bean id="diSpring" class="xmlConfig.DISpring"></bean>
    <bean id="myBeanPostProcessor" class="xmlConfig.MyBeanPostProcessor"></bean>
</beans>