<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用mapper代理时，namespace的值，必须要和代理的mapper接口全限定名一致 -->
<mapper namespace="com.mapper.OrderMapper">
    <!-- 一对一映射之resultType -->
    <select id="findOrdersAndUser" resultType="com.domain.OrdersExt">
        select u.username,u.sex,o.id,o.user_id,o.createtime,o.number from orders o LEFT OUTER JOIN user u on u.id=o.user_id;
    </select>

    <!-- 一对一映射之resultMap -->
    <select id="findOrderAndUserResultMap" resultMap="orderAndUserResultMap">
        select u.username,u.sex,o.id,o.user_id,o.createtime,o.number from orders o LEFT OUTER JOIN user u on u.id=o.user_id;
    </select>

    <resultMap id="orderAndUserResultMap" type="com.domain.OrdersExt">
        <!-- 订单信息 -->
        <id column="id" property="id"></id>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>

        <!-- 用户信息 -->
        <!-- association:一对一关系映射  -->
        <!-- 关联的对象的id建议加上,不加可能会影响效率 -->
        <association property="user" javaType="com.domain.User">
            <id column="user_id" property="id"></id>
            <result column="username" property="username"/>
            <result column="sex" property="sex"/>
        </association>
    </resultMap>
    
    <!-- 一对多 -->
    <select id="findOrdersAndOrdersDatilsAndUserResultMap" resultMap="ordersAndOrdersDatilsAndUserResultMap">
       select o.id,o.number,o.user_id,od.id datails_id,od.items_id,od.items_num,u.username,u.sex
	from orders o LEFT OUTER JOIN orderdetail od on od.orders_id=o.id LEFT OUTER JOIN user u on o.user_id=u.id;
    </select>
    <!-- extends:可以继承一个已有的resultMap,与被继承的type必须是同一个类 -->
    <resultMap id="ordersAndOrdersDatilsAndUserResultMap" type="com.domain.OrdersExt"
                extends="orderAndUserResultMap">
        <!-- 订单明细信息一对多 -->
        <!-- collection:映射一对多关系
            ofType:指定集合内的对象的类型
         -->
        <collection property="orderDetailList" ofType="com.domain.OrderDetail">
            <id property="id" column="datails_id"/>
            <result property="items_id" column="items_id"/>
            <result column="items_num" property="items_num"/>
        </collection>
    </resultMap>
    
    <select id="findOrdersAndOrdersDatilsAndUserAndItemsResultMap" resultMap="ordersAndOrdersDatilsAndUserAndItemsResultMap">
         select o.id,o.number,od.id datails_id,od.items_id,i.name,i.price,i.detail,od.items_num,o.user_id,u.username,u.sex
	from orders o LEFT OUTER JOIN orderdetail od on od.orders_id=o.id
								LEFT OUTER JOIN user u on o.user_id=u.id
								LEFT OUTER JOIN items i on od.items_id=i.id;
    </select>
    <resultMap id="ordersAndOrdersDatilsAndUserAndItemsResultMap" type="com.domain.OrdersExt"
                extends="ordersAndOrdersDatilsAndUserResultMap">
        <!-- 映射商品信息1:n OrderDatile 1:n Order -->
        <collection property="itemsList" ofType="com.domain.Items">
            <id column="items_id" property="id"/>
            <result column="name" property="name"/>
            <result column="price" property="price"/>
            <result column="detail" property="detail"/>
        </collection>
    </resultMap>
</mapper>