<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhk.mapper.OrdersMapper">
        <!--    多对多 map映射-->
        <select id="findOrdersExts" resultMap="UserAndItemsRstMap">
         select o.id, o.user_id,o.number,o.createtime,o.note,u.username,u.address,od.id detailId, od.items_id,
                od.items_num, i.name,i.price
        from orders o ,user u ,orderdetail od, items i
        where o.user_id = u.id and o.id=od.orders_id and od.items_id=i.id
        <if test="number != null">
                and o.number=#{number}
        </if>
        <if test="name != null">
             and i.name="${name}"
        </if>

    </select>

    <!--    多对多：UserAndItemsRstMap-->
    <resultMap id="UserAndItemsRstMap" type="OrdersExt">
                <!--        订单信息-->
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>

        <!--        用户信息 一对一   -->
        <association property="user" javaType="User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>

        <!--        订单明细信息 ： 一对多  -->
        <collection property="detaileList"  ofType="Orderdetail">
            <id column="detailId" property="id"/>
            <result column="items_id" property="items_id"/>
            <result column="items_num" property="items_num"/>

            <!--商品信息  一对一  -->
            <association property="items" javaType="items">
                <id column="items_id" property="id"/>
                <result column="name" property="name"/>
                <result column="price" property="price"/>
            </association>
        </collection>

    </resultMap>

</mapper>


