<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的主配置文件 -->
<configuration>


    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--    <settings>-->
    <!--        <setting name="cacheEnabled" value="true" />-->
    <!--        &lt;!&ndash; 开启数据库last_name与lastName的驼峰式名称映射 &ndash;&gt;-->
    <!--        <setting name="mapUnderscoreToCamelCase" value="true" />-->
    <!--        <setting name="defaultExecutorType" value="SIMPLE" />-->
    <!--        &lt;!&ndash; 懒加载启用 : 根据需要配置局部懒加载 fetchType="lazy" &ndash;&gt;-->
    <!--        <setting name="lazyLoadingEnabled" value="false" />-->
    <!--        &lt;!&ndash; 侵入懒加载 : false按需加载 true[立即加载] &ndash;&gt;-->
    <!--        <setting name="aggressiveLazyLoading" value="false" />-->
    <!--    </settings>-->

    <typeAliases>
        <package name="com.hand.sysmanager.entity"/>
    </typeAliases>

</configuration>