<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloSpring" class="huanglehao.study.e_lifeCycle.HelloSpring"
    init-method="initBean" destroy-method="destoryBean">
    </bean>

    <bean id="myBeanPostProcessor" class="huanglehao.study.e_lifeCycle.MyBeanPostProcessor"></bean>
</beans>