<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jqh.mapper.OrdersExtMapper">

    <select id="findOrdersExt" resultType="com.jqh.pojo.OrdersExt" parameterType="com.jqh.pojo.OrdersExt">
        select o.id,o.user_id,o.number,o.createtime,o.note,u.username,u.address
        from orders o,user u where o.user_id=u.id
        <if test="id!=null">
            and o.id=#{id}
        </if>
    </select>
</mapper>