<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间,对statement的信息进行 分类处理-->
<!-- 在mapper代理时，它具有特殊及重要的作用 -->
<mapper namespace="com.itheima.mybatis.mapper.UserMapper">
     <select id="findUserById" parameterType="int" resultType="user">
        select * from user where id=#{id}
    </select>

    <insert id="insertUser" parameterType="com.itheima.mybatis.po.User">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
             select LAST_INSERT_ID()
        </selectKey>
        insert into user(username,birthday,sex,address)
        values(#{username},#{birthday},#{sex},#{address})
    </insert>

    <!-- 定义sql片段 -->
    <!-- sql片段内，可以定义sql语句中任何部分 -->
    <!-- sql片段内。最好不要将where和select关键字声明在内 -->
    <sql id="whereClause">
        <if test="user !=null">
            <if test="user.username != null and user.username !=''">
                and username like '%${user.username}%'
            </if>
            <if test="user.sex != null and user.sex !=''">
                and sex = #{user.sex}
            </if>


        </if>
        <if test="idList !=null">
            <!-- collection:表示pojo中集合属性的属性名称  -->
            <!-- item：为遍历出的结果声明一个变量名称 -->
            <!-- open：遍历开始时，需要拼接的字符串 -->
            <!-- close：遍历结束时，需要拼接的字符串 -->
            <!-- separator：遍历时，遍历中间需要拼接的连接符 -->
            <foreach collection="idList" item="id"
                     open="and id in ("  close=")" separator=",">
                #{id}
            </foreach>

        </if>
    </sql>



    <!-- 综合查询。查询用户列表 -->
    <select id="findUserList" parameterType="com.itheima.mybatis.po.UserQueryVO"
     resultType="user">
        select * from user
        <!-- where标签：默认去掉后面第一个and，如果没有参数，把自己干掉 -->
        <!-- if标签，可以对输入的参数进行判断 -->
        <!-- test:指定判断表达式 -->
        <where>
          <!-- 引入sql片段 -->
          <include refid="whereClause" />
        </where>
    </select>


    <!-- 综合查询用户总数 -->
    <select id="findUserCount" parameterType="com.itheima.mybatis.po.UserQueryVO"
    resultType="int">
          select count(*) from user where username like '%${user.username}%' and sex = #{user.sex}
    </select>

    <!-- resultMap入门 -->
    <!-- id标签：专门为查询结果中唯一列映射 -->
    <!-- reslut标签：映射查询结果中的普通列 -->
    <resultMap id="UserRstMap" type="user" >
        <id  column="id_" property="id"/>
        <result column="username_"  property="username" />
        <result column="sex_"  property="sex" />
    </resultMap>

    <!-- resultMap入门 -->
    <select id="findUserResultMap" parameterType="int" resultMap="UserRstMap">
        select id id_,username username_,sex sex_ from user where id = #{id}
    </select>
</mapper>