<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <select id="findUserById" parameterType="java.lang.Integer" resultType="domain.User">
        select * from user where id =#{id}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="domain.User">
        select * from user where username like ${value}
    </select>

<!--    <insert id="addUser" parameterType="domain.User">-->
<!--        insert into user(username,birthday,sex,address)-->
<!--        values(#{username},#{birthday},#{sex},#{address})-->
<!--    </insert>-->

    <insert id="addUserGetId" parameterType="domain.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(username,birthday,sex,address)
        values(#{username},#{birthday},#{sex},#{address})
    </insert>

<!--    oracle 自动生成id-->
    <insert id="addUserGetUUID" parameterType="domain.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
--             select UUID()
                select  User_S.nextval from dual
        </selectKey>
        insert into user(id,username,birthday,sex,address)
        values(#{id},#{username},#{birthday},#{sex},#{address})
    </insert>

</mapper>