<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 命名空间,用于隔离sql,后期有重要作用 -->
<mapper namespace="com.frank.mapper.UserMapper">

    <select id="findOrderExts" parameterType="Orderdetail" resultMap="Order_User_OrderDetail_Map">
        SELECT
        o.id,
        o.user_id,
        o.number,
        o.createtime,
        o.note,
        u.username,
        u.address,
        u.birthday,
        u.sex,
        od.id as detailsId,
        od.orders_id,
        od.items_id,
        od.items_num

        FROM
        orders o,
        USER u,
        orderdetail od
        WHERE
        o.user_id = u.id
        AND o.id = od.orders_id
        <if test="id != null">
            o.id = #{id};
        </if>
    </select>
    <!--一对一关联查询,修改Order-->
    <resultMap type="OrderExt" id="User_OrderExt_detail_items">
        <!--id标签用于绑定主键-->
        <id property="id" column="id"/>
        <!--使用result绑定其它参数-->
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>
        <!--associate用于一对一关联
            property:用于绑定用户属性
            javaType:绑定返回的属性类型
        -->

        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="address" column="address"/>
        </association>
    </resultMap>
    <resultMap id="Order_User_OrderDetail_Map" type="OrderExt" extends="User_OrderExt_detail_items">
        <!--订单与订单详情是一对多的关系-->
        <collection property="orderdetail" ofType="Orderdetail">
            <id property="id" column="detailsId"/>
            <result property="ordersId" column="orders_id"/>
            <result property="itemsId" column="items_id"/>
            <result property="itemsNum" column="items_num"/>
        </collection>
    </resultMap>


</mapper>
