<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="helloSpring" class="hjf.controller.HelloSpring"/>-->
    <bean id="myBeanPostProcessor" class="hjf.dao.MyBeanPostProcessor"></bean>

    <bean id="helloSpring" class="hjf.dao.HelloSpring"
    init-method="initBean" destroy-method="destoryBean"/>

    <bean id="person" class="hjf.test.Person">
        <constructor-arg name="name" value="ceh"/>
        <constructor-arg name="address" value="ssss"/>
        <constructor-arg name="age" value="ffff"/>
    </bean>

    <bean id="collectionBean" class="hjf.test.CollectionBean">
        <property name="array">
            <list>
                <value>老王</value>
                <value>老我</value>
                <value>老人</value>
            </list>
        </property>

        <property name="list">
            <list>
                <value>老王</value>
                <value>老我</value>
                <value>老人</value>
            </list>
        </property>
    </bean>
</beans>