<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans ">


    <bean id="helloSpring" class="com.ceh.spring.d_lifeCycle.HelloSpring" init-method="init" destroy-method="destroy"/>
    <bean id="myBeanPostProcessor" class="com.ceh.spring.d_lifeCycle.MyBeanPostProcessor"/>

</beans>