<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="collectionBean" class="huanglehao.study.h_colletions.Map.CollectionBean">
       <property name="map">
           <map>
               <entry key="篮球" value="姚明"></entry>
               <entry key="足球" value="出线"></entry>
           </map>
       </property>
       <
   </bean>
</beans>