<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




    <context:component-scan base-package="com.lhb.spring"></context:component-scan>
<!--    <context:component-scan base-package="com.lhb.spring.annotation_web"></context:component-scan>-->
<!--    spring IOC
    <bean id="helloSpring" class="com.lhb.spring.ioc.HelloSpring"></bean>
-->

<!--   spring DI
    <bean id="DISpring" class="com.lhb.spring.di.DISpring">
        <property name="helloSpring"  ref="diSpring"></property>
    </bean>
    <bean id="diSpring" class="com.lhb.spring.di.DISpring"></bean>

-->


<!--    构造方法注入
    <bean id="person" class="com.lhb.spring.bean_test.Person">
        <constructor-arg name="name" value="lhb"/>
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="address" value="湖北仙桃"/>
    </bean>
-->

<!--   Setter 方法注入
    <bean id="person" class="com.lhb.spring.bean_test.Person">
        <property name="name" value="lhb"/>
        <property name="age" value="23"/>
        <property name="address" value="湖北仙桃"/>
    </bean>
-->

<!-- 数组集合练习
    <bean id="collection" class="com.lhb.spring.collection.CollectionBean">
        <property name="list" >
            <list>
                <value>老王</value>
                <value>老李</value>
                <value>老陈</value>
            </list>
        </property>
        <property name="arrary" >
            <list>
                <value>老王</value>
                <value>老李</value>
                <value>老陈</value>
            </list>
        </property>

        <property name="set" >
            <set>
                <value>北京</value>
                <value>上海</value>
                <value>广州</value>
                <value>深圳</value>
                <value>杭州</value>
            </set>
        </property>
        <property name="map" >
            <map>
                <entry key="湖北" value="武汉"></entry>
                <entry key="湖南" value="长沙"></entry>
            </map>
        </property>

    </bean>

-->

</beans>