<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：命名空间，主要用于statement经行分类管理的唯一标识符-->
<mapper namespace="com.hand.mapper.OrdersMapper">
    <select id="findOrdersall" resultType="com.hand.pojo.Orders">
          select  * from  orders
    </select>
</mapper>
   

