<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="diSpring" class="DISpring" />


       <bean id="helloSpring"  class="HelloSpring" init-method="initBean" destroy-method="destoryBean">
              <property name="diSpirng" ref="diSpring" />
       </bean>

       <bean id="myBeanPostProcessor" class="MyBeanPostProcessor" />

<!--       <bean id="person" class="Person">-->
<!--              <constructor-arg name="name" value="ceh" />-->
<!--              <constructor-arg name="address" value="安信工" />-->
<!--              <constructor-arg name="age" value="18" />-->
<!--       </bean>-->
              <bean id="person" class="Person">
                     <property name="name" value="老王" />
                     <property name="age" value="18" />
                     <property name="address" value="隔壁" />
              </bean>

       <bean id="collectionBean" class="CollectionBean" >
              <property name="array">
                     <list>
                            <value>老王</value>
                            <value>老孙</value>
                            <value>老梁</value>
                     </list>
              </property>

              <property name="list">
                     <list>
                            <value>第一排</value>
                            <value>第二排</value>
                            <value>第三排</value>
                     </list>
              </property>
       </bean>

</beans>