<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.dao.UserDao">
    <select id="findUserById" parameterType="int" resultType="com.hand.entity.User">
        select * from user where id = #{id};
    </select>

    <select id="findAllUser" resultType="com.hand.entity.User">
        select * from user;
    </select>
    <select id="findUserByLikeUserName" parameterType="com.hand.entity.User" resultType="com.hand.entity.User">

        select * from user where username like #{username};
    </select>
    <insert id="insertUser" parameterType="com.hand.entity.User">
        insert into user(username,sex,birthday,address) values(#{username},#{sex},#{birthday},#{address});
    </insert>
    <insert id="insertUserReturnId" parameterType="com.hand.entity.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into user(username,sex,birthday,address) values(#{username},#{sex},SYSDATE(),#{address});
    </insert>

    <select id="findUserByUser" parameterType="com.hand.entity.UserQueryVO">
        select * from user where address like '%${user.address}%';
    </select>



</mapper>