<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="colection" class="spring_04.CollectionBean">
        <property name="array">
            <list>
                <value>小明</value>
                <value>小红</value>
                <value>小中</value>
            </list>
        </property>
        <property name="list">
            <list>
                <value>第1排</value>
                <value>第2排</value>
                <value>第3排</value>
            </list>
        </property>
    </bean>
</beans>