<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  加载java配置文件  -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--  创建数据源  -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="maxActive" value="10" />
        <property name="maxIdle"    value="5" />
    </bean>

    <!--  sqlSessionFactory  -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <!--    指定mybatis的全局配置文件    -->
        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
        <!--    数据源    -->
        <property name="dataSource" ref="dataSource" />
    </bean>

<!--    &lt;!&ndash;  依赖注入sqlSession  &ndash;&gt;-->
<!--    <bean class="com.ll.ms.dao.impl.UserDaoImpl" id="userDao">-->
<!--        <property name="sqlSessionFactory" ref="sqlSessionFactory" />-->
<!--    </bean>-->

<!--      配置UserMapper代理类  -->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <!--   MapperInterface 设置代理类的接口    -->
        <property name="mapperInterface" value="com.ll.ms.mapper.OrderMapper" />
        <!--   以来注入SqlSessionFactoryBean     -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
     </bean>




</beans>