<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.yonye.mybatis.mapper.OrdersExtMapper">
    <resultMap id="ordersAndUserRstMap" type="com.yonye.mybatis.vo.OrdersExt">
<id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="note" property="note"/>
        <association property="user" javaType="com.yonye.mybatis.pojo.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>


    </resultMap>


    <resultMap id="userResultMap" type="com.yonye.mybatis.pojo.User">
        <id column="num" property="id"/>
        <result column="name" property="username"/>
        <result column="address" property="address"/>
    </resultMap>

    <sql id="Condition_Where_Clause">
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="username!=null and username !=''">
                and username like concat(concat('%',#{username}),'%')
            </if>
        </where>

    </sql>

    <select id="findOrdersExt" parameterType="com.yonye.mybatis.vo.OrdersExt" resultType="com.yonye.mybatis.vo.OrdersExt">
    select o.id,
    o.user_id,
    o.number,
    o.createtime,
    o.note,
    u.username,u.address
    from orders o,user u
    where o.user_id=u.id
    <if test="id!= null">
        and o.id = #{id}
    </if>
</select>

    <!-- 一对一resultMap查询-->
    <select id="findOrdersExtMap" parameterType="com.yonye.mybatis.vo.OrdersExt" resultMap="ordersAndUserRstMap">
        select o.id,
        o.user_id,
        o.number,
        o.createtime,
        o.note,
        u.username,u.address
        from orders o,user u
        where o.user_id=u.id
        <if test="id!= null">
            and o.id = #{id}
        </if>
    </select>

    <select id="findOrdersAndOrderDetail" parameterType="com.yonye.mybatis.vo.OrdersExt" resultMap="ordersAndOrderDetailRstMap">
        select o.id,
        o.user_id,
        o.number,
        o.createtime,
        o.note,
        u.username,
        u.address,
        od.id detailId,
        od.items_id,
        od.items_num
        from orders o,user u,orderdetail od
        where o.user_id=u.id
        and o.id=od.orders_id
        <if test="id != null">
            and o.id = #{id}
        </if>
    </select>

    <!-- extends属性：通过extends属性来继承其他的resultMap，要注意的是这两个resultMap的type类型需要一致-->
    <resultMap id="ordersAndOrderDetailRstMap" type="com.yonye.mybatis.vo.OrdersExt" extends="ordersAndUserRstMap">
        <!--订单明细信息 一对多-->
        <!--
        collection：映射一对多的关系
        property属性：一对多关联时的属性名
        ofType属性：关联的类型
        -->
        <collection property="orderDetails" ofType="com.yonye.mybatis.pojo.Orderdetail">
            <id column="detailId" property="id"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
        </collection>
    </resultMap>







</mapper>