<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="collectionBean" class="huanglehao.study.h_colletions.Set.CollectionBean">
       <property name="set">
           <set>
               <value>北京</value>
               <value>上海</value>
               <value>天津</value>
               <value>河南</value>
               <value>浙江</value>
           </set>
       </property>
       <
   </bean>
</beans>