<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.airyny.service.userInfo.mapper.UserInfoMapper">

   <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.airyny.service.userInfo.model.UserInfo">
       select* from userInfo where user_id= #{id}
   </select>



</mapper>