<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.OrdersMapper">
    <!-- 多对一查询 -->
    <resultMap id="orderExtsList" type="orderExts">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="address" property="address"/>
        <result column="totalamount" property="totalamount"/>
        <association property="detail" javaType="OrderDetail">
            <id column="oddid" property="id"/>
            <result column="number" property="number"/>
            <result column="createtime" property="createtime"/>
        </association>
        <association property="items" javaType="items">
            <result column="name" property="name"/>
            <result column="price" property="price"/>
        </association>
    </resultMap>
    <select id="findOrderExts" resultMap="orderExtsList" parameterType="QueryOrder">
        with tem_tab as(
        SELECT
            orders_id,
            sum( total_amount ) AS total_amount
        FROM
            (
        SELECT
            odd.orders_id,
            odd.items_num * ite.price AS total_amount
        FROM
            orderdetail odd,
            items ite
        WHERE
            odd.items_id = ite.id
            ) temp_table
        GROUP BY
            orders_id
        )

        SELECT
            usr.username,
            usr.address,
            ods.number,
            ite.`name`,
            ite.price,
            ods.createtime,
            tem_tab.total_amount
        FROM
            USER usr
            JOIN orders ods ON usr.id = ods.user_id
            JOIN orderdetail odd ON ods.id = odd.orders_id
            JOIN items ite ON odd.items_id = ite.id
            join tem_tab on tem_tab.orders_id=ods.id
        having 1=1
        <if test="detail.number!=null">
            and ods.number=#{detail.number}
        </if>
        <if test="items.name!=null">
            and ite.name like '%${items.name}%'
        </if>
        <if test="createtimeStart!=null and createtimeEnd!=null">
            and
        </if>
    </select>
</mapper>