<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springInfo" class="com.zt.spring.c_circle.SpringInfo"
        init-method="initBean" destroy-method="destoryBean"/>

    <bean id="myBeanPostProcessor" class="com.zt.spring.c_circle.MyBeanPostProcessor"/>
</beans>