<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.UserMapper">




    <select id="findById" parameterType="java.lang.Integer" resultType="com.hand.domain.User" >
        select * from `USER` where id = #{id}
    </select>
    <select id="findByUser" parameterType="common.UserQueryVO" resultType="com.hand.domain.User">
        select * from `USER` u where u.address like '%${user.address}%' and u.sex=#{user.sex}
    </select>
    <select id="findByName" parameterType="java.lang.String" resultType="com.hand.domain.User">
        select * from `USER` where username like ${value}
    </select>
    <select id="findUserByMap" parameterType="java.util.Map" resultType="com.hand.domain.User">
        select * from `USER` u where u.username like concat(concat('%',#{username}),'%')
    </select>
    <select id="countUser"  resultType="java.lang.Integer">
        select count(*) from `USER`
    </select>
    <select id="findUserNameANDaddress"  parameterType="java.lang.Integer" resultType="com.hand.domain.User">
        select  u.username,u.address from `USER` u where u.id=#{id}
    </select>

   <!-- 通过OGNL的jar包遍历uer属性完成赋值-->
    <insert id="addUser" parameterType="com.hand.domain.User">
        insert into user(username,birthday,sex,address) values(#{userName},#{birthday},#{sex},#{address});
    </insert>
<insert id="addUserGetId" parameterType="com.hand.domain.User">
<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
    select LAST_INSERT_ID()
</selectKey>
    insert into user (username,birthday,sex,address) values(#{userName},#{birthday},#{sex},#{address});

</insert>
    <insert id="addUserGetUUID" parameterType="com.hand.domain.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select UUID()
        </selectKey>
        insert into user (username,birthday,sex,address) values(#{userName},#{birthday},#{sex},#{address});

    </insert>
    <select id="testResultMap" parameterType="java.lang.Integer" resultMap="userResultMap">
        select id as num,username name,address from user u where u.id=#{id}
    </select>
    <resultMap id="userResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="testIfAndWhereLable" parameterType="User" resultType="User">
        select * from user
        /*where 默认去掉第一个and*/
        <where>
            <if test="id !=null">
            and id= #{id}
            </if>
            <if test="userName != null and userName !=''">
                and username like concat(concat('%',#{userName}),'%')
            </if>
        </where>
    </select>
</mapper>