<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="getUser" class="com.hand.entity.User">
        <property name="id" value="11"/>
        <property name="username" value="HH"/>
        <property name="address" value="湖北孝感"/>
    </bean>
</beans>