<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="collectionBean" class="com.zt.spring.e_inject.CollectionBean">
        <property name="list">
            <list>
                <value>第一排</value>
                <value>第二排</value>
                <value>第三排</value>
                <value>第四排</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>北京</value>
                <value>上海</value>
                <value>广州</value>
                <value>深圳</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="basketball" value="篮球"/>
                <entry key="football" value="足球"/>
            </map>
        </property>
    </bean>
</beans>