<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yts.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="OrdersExt">
        <id column="id"/>
        <result column="user_id" property="user_id"/>
        <result column="number" property="number"/>
        <result column="note" property="note"/>
        <result column="createtime" property="TIMESTAMP"/>
        <association property="user" javaType="User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>

    </resultMap>


    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.yts.beans.User">
        select * from USER where id=#{id}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.yts.beans.User">
        select * from USER where username like concat('%',#{value},'%')
    </select>

    <insert id="addUser" parameterType="com.yts.beans.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (username,birthday,sex,address) values (#{username},#{birthday},#{sex},#{address})
    </insert>

    <select id="findOrdersExt" parameterType="OrdersExt" resultType="OrdersExt">
        select o.*,u.username,u.address from orders o INNER JOIN `user` u on o.user_id = u.id
        <where>
            <if test="id != null">
                o.id = #{id}
            </if>
        </where>
    </select>

    <select id="findOrderSByResultMap" parameterType="OrdersExt" resultMap="BaseResultMap">
        select o.*,u.* from orders o INNER JOIN `user` u on o.user_id = u.id
    </select>


</mapper>
