<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.txz.mybatis.mapper.UserMapper">
    <!--配置映射 -->
    <resultMap id="userResultMap" type="User">
        <id column="num" property="id"/>
        <result column="name" property="username"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.txz.mybatis.domain.User">
        SELECT * FROM USER WHERE id=#{id}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.txz.mybatis.domain.User">
        select * from user where username like ${value}
    </select>

    <insert id="addUser" parameterType="com.txz.mybatis.domain.User">
        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address});
    </insert>

    <!--返回插入数据的id -->
    <insert id="addUserGetId" parameterType="com.txz.mybatis.domain.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address});
    </insert>

    <insert id="addUserGetUUID" parameterType="com.txz.mybatis.domain.User">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select UUID()
        </selectKey>
        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address});
    </insert>

    <!--综合查询 -->
    <select id="findUserByUser" parameterType="UserQueryVO" resultType="User">
        select * from user u where u.address like '%${user.address}%' and u.sex=#{user.sex};
    </select>

    <!--map查询-->
    <select id="findUserByMap" parameterType="java.util.Map" resultType="User">
        select * from user u where u.username like concat(concat('%',#{username}),'%')
    </select>

    <!--查询用户总数-->
    <select id="countUser" resultType="java.lang.Integer">
        select count(*) from user
    </select>

    <!--通过ID获取用户名以及地址 -->
    <select id="findUserNameAndAddressById" parameterType="java.lang.Integer" resultType="User">
        select username,address from user u where u.id=#{id}
    </select>

    <!--通过ID获取用户名，id和地址 -->
    <select id="testResultMap" parameterType="java.lang.Integer" resultMap="userResultMap">
        select id as num,username name,address from user u where u.id=#{id}
    </select>

    <!--根据ID获取用户信息-->
    <select id="testIfAndWhereLabel" parameterType="User" resultType="User">
        select * from user
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="username != null and username != ''">
                and username like concat(concat('%',#{username}),'%')
            </if>
        </where>
    </select>
</mapper>