<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd  ">
<!--
<bean id="helloSpring" class="HelloeSpring">
    <property name="diSpring" ref="diSpring"/>
</bean>

<bean id="diSpring" class="DISpring"/>

    <bean id="helloSpring" class="HelloeSpring"
          init-method="initBean" destroy-method="destoryBean"/>

    <bean id="myBeanPostProcessor" class="MyBeanPostProcessor"/>
    -->
    <!--
        <bean id="person" class="text.Person">
            <constructor-arg name="name" value="许博思"/>
            <constructor-arg name="address" value="重庆"/>
            <constructor-arg name="age" value="18"/>
        </bean>

    <bean id="person" class="text.Person">

        <property name="name" value="许博思"/>
        <property name="age" value="20"/>
        <property name="address" value="重庆"/>
    </bean>

    <bean id="collectionBean" class="CollectionBean">
        <property name="array">
            <list>
                <value>许博思</value>
                <value>张通</value>
                <value>陈学武</value>
            </list>
        </property>
        <property name="list">
            <list>
                <value>第一排</value>
                <value>第二排</value>
                <value>第三排</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>北京</value>
                <value>上海</value>
                <value>天津</value>
                <value>河南</value>
                <value>浙江</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="篮球" value="姚明"/>
                <entry key="足球" value="出线"/>
            </map>
        </property>
    </bean>
      -->
<context:component-scan base-package="text"/>

    </beans>

